*{
    font-family: Arial;
}
header{
    border-radius: 10px;
    text-align: center;
    background: grey;
    color: white;
}
/*Fomato del navegador--------------------------------------*/
nav {
    display: inline-block;
}
nav ul li a {
    background: #EEE;
    padding: 2px 10px;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    color: #444;
    border-radius: 10px;
}
nav ul li a:hover {
    background: #FFF;
}
nav ul li {
    display: inline-block;
    margin: 10px;
}
nav ul {
    list-style: none;
}
/*Primera seccion, el mini título---------------------------*/
.presentacion{
    text-align: center;
}
/*Footer----------------------------------------------------*/
footer{
    border-radius: 10px;
    text-align: right;
    color: white;
    background: #5c5c5c;
    padding: 10px;
}